// 拖拽
.vu__drag {
    -webkit-app-region: drag;
    background-color: aquamarine;
}
// 取消拖拽
.vu__undrag {-webkit-app-region: no-drag;}

.vu__chatbox {height: calc(100vh); padding: 5px; overflow: hidden;}
.vu__layout {
  background-color: #ffffff;
  overflow: hidden;
  height: 100%; width: 100%;
  position: relative; z-index: 100;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15),0 1px 5px -1px rgba(0, 0, 0, 0.1),0 2px 5px rgba(0, 0, 0, 0.1);
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #ffffff;
    background-color: #df6412; //改成渐变色
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15),0 1px 5px -1px rgba(0, 0, 0, 0.1),0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
    .btn {
        cursor: pointer;
        margin-left: 8px;
    }
}