.custom-box-container {
  padding: 0;
  overflow: hidden;

  .custom-box {
    overflow: hidden;
    border: 1px solid #e1e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    // border-radius: 10px;
  }

  &.full {
    padding: 0;

    .custom-box {
      height: 100vh;
      width: 100vw;
      border-radius: 0;
    }
  }
}
