.select-option {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.ml10 {
    margin-left: 20px;
}

.div-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.table {
    margin: 0;
    height: 95%;
}
.tb-header {
    margin-right: 20px;
}

.pod-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    > * {
        margin-bottom: 5px;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    overflow: hidden;
 
}