.select-option {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.ml10 {
    margin-left: 20px;
}

.div-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.table {
    margin: 0;
    height: 95%;
}