.select-option {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.ml10 {
  margin-left: 20px;
}

.table {
  margin: 0;
  border-radius: 0 !important;
}

.my-table {
  // border-radius: 8px;
  margin-left: 10px;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 50px 12px 0;

    .left-section {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    .right-section {
      display: flex;
      gap: 12px;

      .refresh-button {
        &:hover {
          color: #1890ff;
          border-color: #1890ff;
        }
      }
    }
  }
  .ant-table-body {
    overflow: hidden;
  }
}
