.logo {
  display: flex;
  align-items: center;
}
.logo-title {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

.header {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.header * {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}
.ant-tag {
  border: 0;
  margin: 0;
}
